<!-- Footer -->
<footer class="rev-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget widget-footer widget-footer-text">
          <a class="logo-footer" href="index.html">
            <%= image_tag "devcachelogo.png" -%>

          </a>
          <p>Devcache is one of the Prime IT Companies that aims to provide all kinds of IT services under one umbrella.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget widget-footer widget-footer-hours">
          <div class="title-block title-on-dark title-xs">
            <h4>Working Hours</h4>
            <span class="bottom-title"></span>
          </div>
          <p>Monday - Friday<br> Please contact us for any inquiry.</p>
          <p>09:00 AM - 06:00 PM (GMT + 5)</p>
        </div>
        <ul class="widget widget-footer widget-footer-social-1">
          <li>
            <a data-toggle="tooltip" target="_blank" data-placement="bottom" title="facebook" href="https://www.facebook.com/DevCache-109528710519970">
              <%= image_tag "facebook-23f8788b345690166e20f6fc0425793d10a31e5529e2cbf4a6bdb62e98f7e52c.png", alt:"social media icon" -%>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/DevCacheTech" data-toggle="tooltip" data-placement="bottom" title="twitter">
              <%= image_tag "twitter-18510559613df3ebe79a65338895a7cdb5eb5102eabbc1b3e5321521bfe8001f.png", alt:"social media icon" -%>
            </a>
          </li>
          <li>
            <a data-toggle="tooltip" target="_blank" data-placement="bottom" title="youtube" href="https://www.youtube.com/channel/UCeutPVE67aS0MVp41EFmEUw">
              <%= image_tag "youtube-417a0d186cdc4d614ced7208bae19c0cb2a6e657f73f72b08795cc7488b90633.png", alt:"social media icon" -%></a>
          </li>
          <li>
            <a href="https://www.instagram.com/devcache.official/" data-toggle="tooltip" data-placement="bottom" title="instagram">
              <%= image_tag "instagram-bde7e0b2b39ba9912ab4b22d34c61a83bb5338fdbc067a5a88e8b69707aa7790.png", alt:"social media icon" -%>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/dev-cache-1a7b79245/" data-toggle="tooltip" data-placement="bottom" title="linkedin">
              <%= image_tag "linkedin-6c6d804f647d3bdff10bfa8329652ae860e0f4b1fa2722e9928d25a4891cf4bb.png", alt:"social media icon" -%>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 ">
        <div class="widget widget-footer widget-footer-subcri">
          <div class="title-block title-on-dark title-xs">
            <h4>Our Location</h4>
            <span class="bottom-title"></span>
          </div>
          <ul class="list-unstyled location">
            <li>
              <%= image_tag "locator-59fcc880a062fca15ed063d5a5b34fd9fc58a6cf0393dccf66b92e83aa64f8bb.png", alt:"social media icon" -%>

              <p>Plot 37, Block B2 Block B 2 PGECHS, Lahore, Punjab, Pakistan</p>
            </li>
            <li>
              <%= image_tag "envelope-fb8fef07004933433c33e137d5a2341dbd77c5e50efd74a6a215f0ce07231482.png", alt:"social media icon" -%>
              <p><a href="#">devcacheinfo@gmail.com</a></p>
            </li>
            <li>
              <%= image_tag "phone-call-965f8983a96123a5aeda8f55254b31d08bf70eee7c67280739677d0f5a690988.png", alt:"social media icon" -%>
              <p>+92-305-4009230</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<!-- <script>
  window.onscroll = function() {myFunction()};

  var header = document.getElementById("mainHeader");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script> -->