<section class="no-padding sh-cases">
  <div class="sub-header ">
    <span>LATEST PROJECTS</span>
    <h1>DevCache<br> Projects and Portfolio</h1>
    <ol class="breadcrumb justify-content-center">
      <li>
        <a href="/"><i class="fa fa-home"></i> HOME </a>
      </li>
      <li class="page-active">PORTFOLIO</li>
    </ol>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">

      <div class="category-case-warp category-case-warp-h5 category-case-warp-page">
        <style>
          .filterDiv {
            display: none;
          }
          #myBtnContainer .btn {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
          }

          #myBtnContainer .btn:hover {
            border: none;
            border-bottom: 2px solid red;
            color: red;
          }
          #myBtnContainer .active {
            border: none;
            border-bottom: 2px solid red;
            color: red;
          }

        </style>
        <div id="myBtnContainer">
          <button class="btn" onclick="filterSelection('all')"> All</button>
          <button class="btn" onclick="filterSelection('html-html5')"> HTML / HTML5</button>
          <button class="btn" onclick="filterSelection('bootstrap')"> Bootstrap</button>
          <button class="btn" onclick="filterSelection('ruby-on-rails')"> Ruby on Rails</button>
          <button class="btn" onclick="filterSelection('css-scss')"> CSS / SCSS</button>
          <button class="btn" onclick="filterSelection('javascript-jquery')"> Javascript / jQuery</button>
          <button class="btn" onclick="filterSelection('php-wordpess')"> PHP / WordPress</button>
          <button class="btn" onclick="filterSelection('reactjs')"> ReactJS</button>
          <button class="btn" onclick="filterSelection('angular')"> Angular</button>
        </div>
        <!-- End Project Fillter -->
      </div>


      <div class="cases-warp cases-warp-h5 cases-warp-page">

          <div class="element-item filterDiv html-html5 ruby-on-rails css-scss javascript-jquery">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "versacloud.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://www.versaclouderp.com/">Versa Cloud ERP</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Ruby on Rails, CSS / SCSS, Javascript / jQuery</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://www.versaclouderp.com/">Versa Cloud ERP</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss javascript-jquery">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "mrdrapper.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://discover.mrdraper.ae/">Mr.draper</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, Javascript / jQuery,</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://discover.mrdraper.ae/">Mr.draper</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 php-wordpess css-scss javascript-jquery">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "application_layer.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://www.ubiqsecurity.com/">Ubiq Security</a></h4>
                  <a class="cate" href="#">HTML / HTML5, CSS / SCSS, Javascript / jQuery</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://www.ubiqsecurity.com/">Ubiq Security</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails  reactjs">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "meetedgar.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://app.meetedgar.com/">Meet Edgar</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, ReactJS</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://app.meetedgar.com/">Meet Edgar</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss javascript-jquery reactjs">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "enerinvest.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://enerinvest.com/">Enerinvest</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, Javascript / jQuery, ReactJS</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://enerinvest.com/">Enerinvest</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss javascript-jquery angular">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "mdally.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://www.mdally.com/">MD Ally</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, Javascript / jQuery, Angular</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://www.mdally.com/">MD Ally</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails javascript-jquery angular">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "fundseer.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://www.fundseer.com/">Fundseer</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, PHP / WordPress, Javascript / jQuery, Angular</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://www.fundseer.com/">Fundseer</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails javascript-jquery angular">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "matchupmuslims.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://www.matchupmuslims.com/">Match Up Muslims</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, Javascript / jQuery, Angular</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://www.matchupmuslims.com/">Match Up Muslims</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss javascript-jquery reactjs">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "BlondiesTreeHouse.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://blondiestreehouse.com/">Blondies Tree House</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, Javascript / jQuery, ReactJS</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://blondiestreehouse.com/">Blondies Tree House</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss javascript-jquery angular">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "mdally.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://www.mdally.com/">MD Ally</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, Javascript / jQuery</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://www.mdally.com/">MD Ally</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 php-wordpess css-scss javascript-jquery">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "application_layer.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://www.ubiqsecurity.com/">Ubiq Security</a></h4>
                  <a class="cate" href="#">HTML / HTML5, PHP / WordPress, CSS / SCSS, Javascript / jQuery</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://www.ubiqsecurity.com/">Ubiq Security</a></p>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap php-wordpess css-scss javascript-jquery angular">
            <div class="itemproject-card">
              <div class="item-project">
                <div class="image">
                  <%= image_tag "fundseer.png", class:"img-responsive", alt:"Portfolio image" -%>
                </div>
                <div class="overlay-project">
                  <h4><a target="_blank" href="https://www.fundseer.com/">Fundseer</a></h4>
                  <a class="cate" href="#">HTML / HTML5, Bootstrap, PHP / WordPress, CSS / SCSS, Javascript / jQuery, Angular</a>
                </div>
              </div>
              <div class="overlay-text">
                <p><a target="_blank" href="https://www.fundseer.com/">Fundseer</a></p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>

<script>
  $(window).on('load', function () {
    filterSelection("all")
  })

  function filterSelection(c) {

    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  // Show filtered elements
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  // Hide elements that are not selected
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  let prevButton = null;
  const myBtnContainer = document.getElementById("myBtnContainer");
  myBtnContainer.addEventListener('click', (e) => {
    const isButton = e.target.nodeName === 'BUTTON';
    if (!isButton) {
      return;
    }
    e.target.classList.add('active'); // Add .active CSS Class
    if(prevButton !== null) {
      prevButton.classList.remove('active');  // Remove .active CSS Class
    }
    prevButton = e.target;
  });

</script>