<section class="no-padding sh-news">
  <div class="sub-header ">
    <span>WHAT WE DO</span>
    <h1>Technology We Use</h1>
    <ol class="breadcrumb justify-content-center">
      <li>
        <a href="/"><i class="fa fa-home"></i> HOME </a>
      </li>
      <li class="page-active">SERVICES</li>
    </ol>
  </div>
</section>

<section>
  <div class="container">
    <div class="row technologies">
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "full-stackd875.jpg", class:"img-responsive", alt:"technology image" -%>

          </div>
          <a href="#" title="Full Stack Web Development" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Full Stack Web Development</h2></div></a>
          <div class="card-body"><p class="card-text">Eritheia Labs specializes in both frontend and backend web development. We have best quality Full Stack developers who have been leading in backend and frontend.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "railsd875.jpg", class:"img-responsive", alt:"technology image" -%>

          </div>
          <a href="#" title="Ruby on Rails" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Ruby on Rails</h2></div></a>
          <div class="card-body"><p class="card-text">We at Eritheia Labs use Ruby on Rails as server-side web application framework for web development. It is designed to make programming web applications easier. We have been leading many Ruby on Rails products with top quality work and latest techniques.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "joomlad875.jpg", class:"img-responsive", alt:"technology image" -%>

          </div>
          <a href="#" title="PHP Joomla" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">PHP Joomla</h2></div></a>
          <div class="card-body"><p class="card-text">Joomla is a free and open-source content management system (CMS) for publishing web content. It is built on a model–view–controller web application framework that can be used independently of the CMS. We are leading 1000s of Joomla websites with different Joomla versions.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "HTML5d875.jpg", class:"img-responsive", alt:"technology image" -%>

          </div>
          <a href="#" title="HTML / HTML5" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">HTML / HTML5</h2></div></a>
          <div class="card-body"><p class="card-text">HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and current major version of the HTML standard. Our developers master HTML and HTML 5 and know how to convert basic designs to world class designs.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "Relation___Non-Relational_Databasesd875.jpg", class:"img-responsive", alt:"technology image" -%>

          </div>
          <a href="#" title="Relational &amp; Non-Relational Databases" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Relational &amp; Non-Relational Databases</h2></div></a>
          <div class="card-body"><p class="card-text">Relational databases represent and store data in tables and rows. Meanwhile, non-relational databases represent data in collections of JSON documents. We have top quality Database developers with experience in MySQL, PostgreSQL, MongoDB etc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "Server_Setup___Managementd7e7.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="Server Setup &amp; Management" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Server Setup &amp; Management</h2></div></a>
          <div class="card-body"><p class="card-text">Most companies are too busy concentrating on developing their business and most of them are not aware of the newest server management trends or simply do not have the expertise and industry knowledge. That’s where Eritheia Labs can help. With several years of experience, we can manage all aspects of your servers’ day-to-day operations.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "Mobile_App_Developmentd7e7.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="Mobile App Development" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Mobile App Development</h2></div></a>
          <div class="card-body"><p class="card-text">With the growing number of people accessing the Internet via smartphones and tablets, mobile application development has become the mean to access a large number of potential consumers. We have been developing top quality mobile applications.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "SCSS-SASSd7e7.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="SCSS / SASS" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">SCSS / SASS</h2></div></a>
          <div class="card-body"><p class="card-text">SASS/SCSS allow developers to create web pages styles more easily and effectively. Also it helps developers to reduce errors and browsers incompatibilities. Our highly skilled developers can help you with almost anything regarding SASS/SCSS, even porting your CSS files to SASS/SCSS if needed.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "jq-jsd7e7.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="JavaScript / jQuery" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">JavaScript / jQuery</h2></div></a>
          <div class="card-body"><p class="card-text">jQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML. We have highly skilled JavaScript and jQuery developers with lots of experience in jQuery libraries.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "wordpressd7e7.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="PHP Wordpress" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">PHP Wordpress</h2></div></a>
          <div class="card-body"><p class="card-text">WordPress is a free and open-source content management system based on PHP and MySQL. We have created 100s of Wordpress websites with different Templates &amp; customizations.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "seod7e7.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="SEO Services" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">SEO Services</h2></div></a>
          <div class="card-body"><p class="card-text">Search engine optimization is the process of affecting the online visibility of a website or a web page in a web search engine&#39;s unpaid results. We have done complete SEO of over 50 websites built in Ruby on Rails, PHP, .Net etc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "Quality_Assuranced7e7.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="Quality Assurance" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Quality Assurance</h2></div></a>
          <div class="card-body"><p class="card-text">Quality assurance is essential to business process execution. It focuses on providing confidence that quality requirements are fulfilled. We have been writing automated Test Cases to provide top quality work to our Happy Clients.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "Bootstrap___Foundation44f4.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="Bootstrap &amp; Foundation" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Bootstrap &amp; Foundation</h2></div></a>
          <div class="card-body"><p class="card-text">Front-end frameworks make life easier. They not only increase productivity but are great for prototyping and building sites rapidly with bonuses like cross-browser compatibility and ready-to-go CSS components. So be it Bootstrap, Foundation or any other framework, our developers have covered it all.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "Twilio___other_3rd_Party_APIs_Integration44f4.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="Twilio &amp; other 3rd Party APIs Integration" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Twilio &amp; other 3rd Party APIs Integration</h2></div></a>
          <div class="card-body"><p class="card-text">In addition to working with different technologies, we also have an extensive experience in third-party APIs integration including domains such as shipping, payment, travel and social media. We also have an experience working with demand side platforms that integrate popular online advertising network APIs including Google AdWords and Bing Ads.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "Web_Payment_Integrations44f4.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="Web Payment Integrations" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Web Payment Integrations</h2></div></a>
          <div class="card-body"><p class="card-text">Eritheia Labs specializes in providing business solutions and in today&#39;s age payment gateways have become one of the key components for effective business management. We have developed some exceptional websites with popular payment gateways like Stripe, PayPal and 2Checkout.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "ps-il-sk44f4.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="Adobe Photoshop, Sketch &amp; Illustrator" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Adobe Photoshop, Sketch &amp; Illustrator</h2></div></a>
          <div class="card-body"><p class="card-text">We also offer Graphic Design services. Be it corporate design or branding, from logo design to print design and everything in between, we are ready to do it for you. Tell us what you need, share your idea and we&#39;ll show you our creativity in a matter of time.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
        <div class="card">
          <div class="header-img">
            <%= image_tag "MailChimp__Vertical_Response___Litmus44f4.jpg", class:"img-responsive", alt:"technology image" -%>
          </div>
          <a href="#" title="MailChimp, Vertical Response &amp; Litmus" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">MailChimp, Vertical Response &amp; Litmus</h2></div></a>
          <div class="card-body"><p class="card-text">Email Marketing has proven itself to be an effective method of communication. We have helped hundreds of customers achieve their marketing goals and we are here to make your experience with MailChimp, Vertical Response and Litmus, whether you are just getting started or have been using them for many years.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-bottom: 40px;">
          <div class="card">
            <div class="header-img">
              <%= image_tag "Mobile_App_Developmentd7e7.jpg", class:"img-responsive", alt:"technology image" -%>
            </div>
            <a href="#" title="Mobile App Development" data-toggle="popover" data-trigger="hover" data-content="Some content"><div class="outsie-heading"><h2 class="card-title">Mobile App Development</h2></div></a>
            <div class="card-body"><p class="card-text">With the growing number of people accessing the Internet via smartphones and tablets, mobile application development has become the mean to access a large number of potential consumers. We have been developing top quality mobile applications.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>