<section class="no-padding sh-company-history">
  <div class="sub-header ">
    <span>LATEST PROJECTS</span>
    <h1>OUR PRODUCTS</h1>
    <ol class="breadcrumb justify-content-center">
      <li>
        <a href="/"><i class="fa fa-home"></i> HOME  </a>
      </li>
      <li class="page-active">PRODUCTS</li>
    </ol>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">

      <div class="category-case-warp category-case-warp-h5 category-case-warp-page">
        <style>
          .filterDiv {
            display: none;
          }
          #myBtnContainer .btn {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
          }

          #myBtnContainer .btn:hover {
            border: none;
            border-bottom: 2px solid red;
            color: red;
          }
          #myBtnContainer .active {
            border: none;
            border-bottom: 2px solid red;
            color: red;
          }

        </style>
        <div id="myBtnContainer">
          <button class="btn" onclick="filterSelection('all')"> All</button>
          <button class="btn" onclick="filterSelection('html-html5')"> HTML / HTML5</button>
          <button class="btn" onclick="filterSelection('bootstrap')"> Bootstrap</button>
          <button class="btn" onclick="filterSelection('ruby-on-rails')"> Ruby on Rails</button>
          <button class="btn" onclick="filterSelection('css-scss')"> CSS / SCSS</button>
          <button class="btn" onclick="filterSelection('javascript-jquery')"> Javascript / jQuery</button>
          <button class="btn" onclick="filterSelection('php-wordpess')"> PHP / WordPress</button>
          <button class="btn" onclick="filterSelection('multi-tenant')"> Multi-Tenant</button>
          <button class="btn" onclick="filterSelection('reactjs')"> ReactJS</button>
          <button class="btn" onclick="filterSelection('angular')"> Angular</button>
          <button class="btn" onclick="filterSelection('android')"> Android</button>
        </div>
        <!-- End Project Fillter -->
      </div>

      <div class="cases-warp cases-warp-h5 cases-warp-page">
          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss javascript-jquery">
            <div class="item-project project-img">
              <%= image_tag "cribs-detailac91.jpg", class:"img-responsive", alt:"product image"-%>
              <div class="overlay-project product-content">
                <h2><a target="_blank" href="http://www.cribsestates.co.uk/">Cribs Estates</a></h2>
                <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, Javascript / jQuery</a>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv php-wordpess">
            <div class="item-project project-img">
              <%= image_tag "arzee-detail9e7b.jpg", class:"img-responsive", alt:"product image"-%>


              <div class="overlay-project product-content">
                <h2><a target="_blank" href="http://arzeecrafts.com/">Arzee Crafts</a></h2>
                <a class="cate" href="#">PHP / WordPress</a>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss javascript-jquery">
            <div class="item-project project-img">
              <%= image_tag "experts-detail9e7b.jpg", class:"img-responsive", alt:"product image"-%>
              <div class="overlay-project product-content">
                <h2><a target="_blank" href="https://uae.expertsengine.com/">Experts Engine</a></h2>
                <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, Javascript / jQuery</a>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap css-scss javascript-jquery">
            <div class="item-project project-img">
              <%= image_tag "eritheialabs_portfolio_yourpropertywebsite-minf993.jpg", class:"img-responsive", alt:"product image"-%>


              <div class="overlay-project product-content">
                <h2><a target="_blank" href="https://www.yourpropertywebsite.co.uk/">Your Property Website</a></h2>
                <a class="cate" href="#">HTML / HTML5, Bootstrap, CSS / SCSS, Javascript / jQuery</a>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails multi-tenant">
            <div class="item-project project-img">
              <%= image_tag "cribs-detailac91.jpg", class:"img-responsive", alt:"product image"-%>
              <div class="overlay-project product-content">
              <h2><a target="_blank" href="https://www.storebanao.com/">Store Banao</a></h2>
                <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, Multi-Tenant</a>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss reactjs">
            <div class="item-project project-img">
              <%= image_tag "cribs-detailac91.jpg", class:"img-responsive", alt:"product image"-%>
              <div class="overlay-project product-content">
                <h2><a target="_blank" href="https://www.brightersroom.com/">Brighters Room</a></h2>
                <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, ReactJS</a>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv php-wordpess">
            <div class="item-project project-img">
              <%= image_tag "arzee-detail9e7b.jpg", class:"img-responsive", alt:"product image"-%>


              <div class="overlay-project product-content">
                <h2><a target="_blank" href="http://arzeecrafts.com/">Arzee Crafts</a></h2>
                <a class="cate" href="#">PHP / WordPress</a>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap ruby-on-rails css-scss javascript-jquery">
            <div class="item-project project-img">
              <%= image_tag "experts-detail9e7b.jpg", class:"img-responsive", alt:"product image"-%>
              <div class="overlay-project product-content">
                <h2><a target="_blank" href="https://uae.expertsengine.com/">Experts Engine</a></h2>
                <a class="cate" href="#">HTML / HTML5, Bootstrap, Ruby on Rails, CSS / SCSS, Javascript / jQuery</a>
              </div>
            </div>
          </div>

          <div class="element-item filterDiv html-html5 bootstrap css-scss javascript-jquery">
            <div class="item-project project-img">
              <%= image_tag "eritheialabs_portfolio_yourpropertywebsite-minf993.jpg", class:"img-responsive", alt:"product image"-%>


              <div class="overlay-project product-content">
                <h2><a target="_blank" href="https://www.yourpropertywebsite.co.uk/">Your Property Website</a></h2>
                <a class="cate" href="#">HTML / HTML5, Bootstrap, CSS / SCSS, Javascript / jQuery</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<script>

  $(window).on('load', function () {
    filterSelection("all")
  })

  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  // Show filtered elements
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  // Hide elements that are not selected
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  let prevButton = null;
  const myBtnContainer = document.getElementById("myBtnContainer");
  myBtnContainer.addEventListener('click', (e) => {
    const isButton = e.target.nodeName === 'BUTTON';
    if (!isButton) {
      return;
    }
    e.target.classList.add('active'); // Add .active CSS Class
    if(prevButton !== null) {
      prevButton.classList.remove('active');  // Remove .active CSS Class
    }
    prevButton = e.target;
  });

</script>